.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.panelContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.leftPanel {
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}

@media (max-width: 900px) {
	.leftPanel {
		display: none;
	}
}

.rightPanel {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 89vh;
	overflow-y: scroll;
}

.noMarginTop {
	margin-top: 0 !important;
}
